.catalogue_row, .stamp_row {
	display: flex;
	gap: 2rem;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	margin-bottom: 2rem;
	align-items: stretch;

}

.stamp_row {
	justify-content: center;
	align-items: center;
	min-height: 400px;
	margin-top: 2rem;
}

.formulaire_col {
	flex: 1;
	flex: 0 0 30%;
	display: flex;
	flex-direction: column;
	background-color: var(--vert-fonce);
	/*height: 1000px;*/
	margin-right: 10px;
}

.catalogue_col {
	flex: 1 1 0;           
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 0;
}

.catalogue_article, .article_conteneur {
	flex: 1;
	padding: 1rem;
	text-align: center;
	position: relative;
	border: 2px solid transparent;
}

.article_conteneur {
	height: 500px;
	overflow: hidden;
	background-color: var(--vert-pale);
}

.catalogue_image {
	width: 100%;
	height: auto;
	object-fit: contain;
}


.stamp-price {
	cursor: pointer;
	position: relative;
	background-color: var(--blanc-gris);
	color: #000;
	padding: 0.9rem 5.3rem;
	border-radius: 4px;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}


.catalogue_conteneur_images {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; gap:1rem;
	width: 350px;
	height: 100%;
	margin-left: 2rem;
}


/*============================================ Texte ==============================================*/

label {
    font-family: var(--font-alice);
    font-size: var(--font-titre);
    font-variant: normal;
}


/*============================================Hover, animation et js======================================*/



@keyframes montre {
	0% {
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	25% {
		border-top-color: var(--noir-leger);
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	50% {
		border-top-color: var(--noir-leger);
		border-right-color: var(--noir-leger);
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	75% {
		border-top-color: var(--noir-leger);
		border-right-color: var(--noir-leger);
		border-bottom-color: var(--noir-leger);
		border-left-color: transparent;
	}
	100% {
		border-top-color: var(--noir-leger);
		border-right-color: var(--noir-leger);
		border-bottom-color: var(--noir-leger);
		border-left-color: var(--noir-leger);
	}
}

@keyframes cache {
	0% {
		border-top-color: var(--noir-leger);
		border-right-color: var(--noir-leger);
		border-bottom-color: var(--noir-leger);
		border-left-color: var(--noir-leger);
	}
	25% {
		border-top-color: var(--noir-leger);
		border-right-color: var(--noir-leger);
		border-bottom-color: var(--noir-leger);
		border-left-color: transparent;
	}
	50% {
		border-top-color: var(--noir-leger);
		border-right-color: var(--noir-leger);
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	75% {
		border-top-color: var(--noir-leger);
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	100% {
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
}

.stamp-price::after {
	content: "";
	position: absolute;
	left: 10px;
	bottom: 8px;
	height: 2px;
	width: calc(100% - 20px);
	background-color: #000;
	border-radius: 1px;
	transform-origin: center;
	transform: scaleX(0);
	transition: transform 0.2s ease-out;
}

.stamp-price:hover::after {
	transform: scaleX(1);
}

.catalogue_article:hover {
	animation: montre 0.3s forwards ease-in-out;
}

.catalogue_article:not(:hover) {
	animation: cache 0.3s forwards ease-in-out;
}

/* ================================================ Form =================================== */

.fancy-checkbox {
	cursor: pointer;
	display: inline-block;
	margin: 0.5rem 0;
}

.fancy-checkbox input[type="checkbox"] {
	display: none;
}

.fancy-checkbox span {
	position: relative;
	display: inline-block;
	padding: 0.5rem 1rem;
	transition: color 0.3s ease;
}

.fancy-checkbox span::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: black;
	transform-origin: center;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.fancy-checkbox:hover span::after,
.fancy-checkbox input[type="checkbox"]:checked + span::after {
	transform: scaleX(1);
}

form {
	margin: 15px;
}