/* ============================ Structure ============================== */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto; /*40px*/
    border: none;
    width: 90%;
    border-bottom: 2px solid var(--noir-leger);
}

.nav-liens {
    display: flex;
    gap: 55px;
    list-style: none;
}

.nav-item, .dropdown-menu-item {
    padding: 15px;
    background-color: var(--vert-principal);
}


.dropdown {
	position: relative; 
}

.dropdown-menu {
    padding: 0.5rem 0; padding-left: 0;
    margin: 0;
    top: 100%;
    left: 0;
    position: absolute;
    list-style: none; 
    opacity: 0;

    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

/* ============================ Textes ============================== */

.nav-item, .dropdown-menu-item {
    font-family: var(--font-unica-one);
    font-size: var(--font-titre);
    font-variant: normal;
}

.nav-item a,
.dropdown-menu-item a {
	position: relative;
	text-decoration: none;
	color: inherit;
	transition: border-bottom 0.2s ease;
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
}

.dropdown-toggle {
	position: relative;
	text-decoration: none;
	color: inherit;
	transition: border-bottom 0.2s ease;
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
}


/* ============================ Hover, js et animation ============================== */

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-fleche {
    transform: rotate(180deg);
	display: inline-block;
	transition: transform 0.2s ease-in-out;
	transform-origin: center center;
}

.dropdown:hover .dropdown-fleche {
	transform: rotate(360deg);
}

.nav-item a:hover,
.dropdown-menu-item a:hover,
.dropdown-toggle:hover {
	border-bottom-color: currentColor;
}

.dropdown:hover > .dropdown-toggle {
	border-bottom-color: currentColor;
}

/* ============================ Avertissement ============================== */

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--beige-principal);
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: none;
    transition: opacity 0.3s ease;
}

.top-banner p {
    margin: 0;
    line-height: 1.3;
}

#closeBannerBtn {
    background: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.top-banner.hidden {
    opacity: 0;
    pointer-events: none;
}
