/**
    CSS de base pour ajuster les différences entre les navigateurs. Il se peut que le css déclaré dans main.css soit recéclarer plus tard dans les autres fichiers. Les header sont aussi la
*/

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body {
    /*background-color: var(--blanc-gris);*/
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li, ul {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}


img {
    max-width: 100%;
    display: block;
}
/*
main {
    margin: 20px auto 0 auto;
    width: 95%;
}
*/
h1 {
    font-family: var(--font-alice);
    font-size: var(--front-top);
    margin-top: 50px;
    margin-bottom: 40px;
    cursor:default;
}

h2, p{
    font-family: var(--font-alice);
    margin: 10px 0px 0px;
    cursor:default;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.flex_centered {
    justify-content: center;
    align-items: center;
}

.desktop {
    display: flex;
}
.mobile {
    display: none;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}

h2 {
    font-family: var(--font-unica-one);
    font-size: 30px;
    font-weight: normal;
    color: var(--gris-pale-texte);
    margin: 40px 0 0 5%;
}

.separation {
	height: 1px;
	background: var(--bleu-separation);
	border: none;
	margin: 10px auto 40px auto;
    width: 90%;
}

.ajustement {
    justify-content: space-evenly;
}

.ajustement_footer {
    margin-top: 0;
}