:root {
    --vert-principal: #74988c; /*background color du site*/
    --vert-pale: #628076;
    --vert-fonce: #336455;
    --vert-de-selection: #375249;
    --beige-principal: #dacc98;
    --blanc-gris: #d7d7d7;

    --noir-leger: #2f2f2f;


    --font-alice: "Alice", serif;
    --font-unica-one: "Unica One", sans-serif;
    --font-limelight: "Limelight", sans-serif;

    --front-top: 50px;
    --font-titre: 30px;
}

