            <nav class="nav flex_row">
                <input type="checkbox" id="nav-toggle" class="burger-checkbox">
                <label for="nav-toggle" class="burger mobile" aria-label="Toggle menu">☰</label>
                <ul class="nav-liens desktop flex_row">
                    <li><a href="#">Accueil</a></li>
                    <li class="nav-item dropdown">
                        <a href="./assets/html/enchere.html">Enchère <span class="dropdown-fleche">▾</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/assets/html/enchere.html">Toutes les enchères</a></li>
                            <li><a href="./assets/html/enchere.html">Futures enchères</a></li>
                            <li><a href="./assets/html/enchere.html">Histoire du Québec</a></li>
                            <li><a href="./assets/html/enchere.html">Timbre de l'Est</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="./assets/html/enchere.html">Membre <span class="dropdown-fleche">▾</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Inscriptions</a></li>
                            <li><a href="#">Expositions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="./assets/html/enchere.html">Éducation <span class="dropdown-fleche">▾</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Initiative "Collection de demain"</a></li>
                            <li><a href="#">Présentations 2025</a></li>
                            <li><a href="#">Présentations 2026</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Actualités</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav-right flex_row">
                    <li class="nav-item"><a href="assets/html/connexion.html">Connexion</a></li>
                    <li class="nav-item"><a href="assets/html/register.html">Créer un compte</a></li>
                </ul>
            </nav>